<h1 style="margin: 20px 0 0 40px;">Venta</h1>
<mat-card style="margin: 20px 40px 40px 40px;">
    <mat-card-content>
        <form [formGroup]="formularioProductoVenta" (ngSubmit)="agregarProductoParaVenta()">
            <mat-grid-list cols="4" rowHeight="80px">
                <mat-grid-tile colspan="2">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Producto</mat-label>
                        <!-- <input matInput type="text" placeholder="Buscar..." [matAutocomplete]="auto" formControlName="producto"> -->
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card-content>
</mat-card>